.foodQuantity{
    display: flex;
}
.foodQuantity span{
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 50px;
    padding: 5px 20px;
    background: white;
    font-weight: 700;
}
.foodQuantity button{
    border: 0px;
    color: red;
    font-weight: 700;
    background: white;
    margin: 0px 2px;
}
.jumbotron{
    background-color: rgba(241, 241, 241, 0.527);
}